@import "./variables";

@mixin hovering-imgs {
  border: 10px solid $color-primary;
  padding: 10px;
}

.about-section {
  &__article {
    line-height: 20px;
    width: 320px;
    margin: auto;
  }

  &__images {
    width: 350px;
    position: relative;

    &:hover img:not(:hover) {
      width: 30%;
      z-index: -1;
    }
  }

  &__image {
    box-sizing: content-box;
    width: 40%;
    border-radius: 2px;
    box-shadow: $box-shadow-2;
    position: absolute;
    transition: padding 0.2s;
  }

  &__image--first {
    &:hover {
      @include hovering-imgs();
    }
  }

  &__image--second {
    top: -5px;
    right: 100px;
    z-index: 2;

    &:hover {
      @include hovering-imgs();
    }
  }

  &__image--third {
    right: 0;
    top: 5px;

    &:hover {
      @include hovering-imgs();
    }
  }
}
