.about-section {
  background-color: $color-grey-light-1;
  margin-top: -115px;
  padding-top: 160px;
  padding-bottom: 100px;

  &__article {
    max-width: 400px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 30px;
    flex: 1 380px;
  }

  &__images {
    position: relative;
    flex: 1 380px;

    &:hover .about-section__image:not(:hover) {
      transform: scale(0.95);
    }
  }

  &__image {
    box-sizing: content-box;
    border-radius: 2px;
    box-shadow: $box-shadow-2;
    outline-offset: 15px;
    width: 33.33333333%;
    float: left;
    position: relative;
    transition: all 0.2s;

    &:hover {
      outline: 13px solid $color-primary;
      transform: scale(1.05) translate(0, -5px);
    }
  }

  &__image--first {
    transform: scale(1.2);
  }

  &__image--second {
    top: -15px;
    transform: scale(1.3);
    z-index: 2;
  }

  &__image--third {
    top: 15px;
    transform: scale(1.1);
  }
}

/* Media queries */

@media screen and (min-width: 901px) {
  .about-section {
    padding-top: 230px;

    &__article {
      max-width: 100%;
      margin-top: 75px;
    }

    &__text {
      margin-right: 50px;
    }
  }
}
