@import "./variables";

@mixin hovering-imgs {
  border: 10px solid $color-primary;
  padding: 10px;
  width: 30%;
}

.about-section {
  &__article {
    width: 320px;
    margin: auto;
    line-height: 20px;
  }

  &__images {
    position: relative;
    height: 125px;

    &:hover img:not(:hover) {
      width: 30%;
    }
  }

  &__image {
    border-radius: 2px;
  }

  &__image--first {
    width: 40%;
    float: left;
    box-shadow: $box-shadow-2;
    transition: width 0.2s;

    &:hover {
      @include hovering-imgs();
    }
  }

  &__image--second {
    box-sizing: content-box;
    width: 40%;
    position: absolute;
    top: -5px;
    left: 100px;
    z-index: 2;
    box-shadow: $box-shadow-2;
    transition: width 0.2s;

    &:hover {
      @include hovering-imgs();
    }
  }

  &__image--third {
    width: 40%;
    float: right;
    box-shadow: $box-shadow-2;
    transition: width 0.2s;

    &:hover {
      @include hovering-imgs();
    }
  }
}
