.benefits-section {
  @include background-image(
    "../img/nat-4.jpg",
    $color-primary-light-trans,
    $color-primary-dark-trans,
    0,
    10vh,
    100%,
    0,
    100%,
    95%,
    0%,
    100%
  );
  text-align: center;
  margin-top: -60px;

  &__container {
    display: flex;
    flex-direction: column;

    & .benefits-section__article:first-child {
      margin-top: 100px;
    }

    & .benefits-section__article:last-child {
      margin-bottom: 100px;
    }
  }

  &__article {
    background-color: $color-grey-light-1-trans-1;
    border-radius: 3px;
    box-shadow: $box-shadow-3;
    max-width: 355px;
    margin: 0 auto 45px auto;
    padding: 15px;
    transition: transform 0.4s;

    &:hover {
      transform: translate(0, -10px) scale(1.05);
    }
  }

  &__img {
    width: 50px;
    margin: 10px 0 20px;
  }

  &__paragraph {
    font-size: 0.77rem;
  }
}

/* Media queries */

@media screen and (min-width: 901px) {
  .benefits-section {
    @include background-image(
      "../img/nat-4.jpg",
      $color-primary-light-trans,
      $color-primary-dark-trans,
      0,
      20vh,
      100%,
      0,
      100%,
      80%,
      0%,
      100%
    );
    margin-top: -115px;

    &__container {
      padding: 200px 0;
      flex-direction: row;
      justify-content: space-evenly;

      & .benefits-section__article:first-child {
        margin-top: 0;
      }

      & .benefits-section__article:last-child {
        margin-bottom: 0;
      }
    }

    &__article {
      margin: 0;
      flex-basis: 200px;
    }
  }
}
