@import "./variables";

.benefits-section__paragraph {
  color: $color-grey-dark;
  font-size: 0.77rem;
}

.benefits-section {
  @include background-image(
    "../img/nat-4.jpg",
    $color-primary-light-trans,
    $color-primary-dark-trans,
    0,
    10vh,
    100%,
    0,
    100%,
    95%,
    0%,
    100%
  );
  text-align: center;
  margin-top: 100px;

  &__container {
    padding: 0 20px;

    & .benefits-section__article:first-child {
      margin-top: 100px;
    }

    & .benefits-section__article:last-child {
      margin-bottom: 100px;
    }
  }

  &__article {
    background-color: $color-grey-light-1-trans-1;
    border-radius: 3px;
    box-shadow: $box-shadow-3;
    max-width: 350px;
    margin: 0 auto 45px auto;
    padding: 15px;
    display: inline-block;
    transition: transform 0.4s;

    &:hover {
      transform: translate(0, -10px) scale(1.05);
    }
  }

  &__img {
    width: 50px;
    margin: 10px 0;
  }
}
