.footer {
  background-color: $color-grey-dark-3;

  &__container {
    max-width: 355px;
    margin: auto;
  }

  &__image {
    display: block;
    padding: 50px 0;
    margin: auto;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__list {
    text-align: center;
    border-top: 1px solid $color-grey-dark-2;
    padding: 10px 0 0;
    margin: 0 0 50px;
  }

  &__item {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    transition: all 0.2s;

    &:hover .footer__link {
      color: $color-primary;
    }

    &:hover {
      background-color: $color-grey-dark-3;
      box-shadow: $box-shadow-3;
      transform: scale(1.2) rotate(5deg);
    }
  }

  &__link {
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
  }

  &__paragraph {
    font-size: 0.7rem;
    color: $color-white;
    border-top: 1px solid $color-grey-dark-2;
    padding: 15px 0 65px;
    margin: 0;
  }
}

/* Media queries */

@media screen and (min-width: 901px) {
  .footer {
    &__container {
      max-width: 100%;
    }

    &__text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__list,
    .footer__paragraph {
      text-align: left;
      flex-basis: 365px;
    }

    &__link,
    .footer__paragraph {
      font-size: 0.75rem;
    }
  }
}

@media screen and (min-width: 1201px) {
  .footer {
    &__text {
      justify-content: space-around;
    }

    &__list,
    .footer__paragraph {
      flex-basis: 450px;
    }

    &__link,
    .footer__paragraph {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 1800px) {
  .footer {
    &__text {
      justify-content: space-evenly;
    }

    &__link,
    .footer__paragraph {
      font-size: 0.9rem;
    }
  }
}
