@import "./variables";

@mixin header-titles {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6px;
  color: $color-white;
}

.header {
  @include background-image(
    "../img/hero-small.jpg",
    $color-primary-light-trans,
    $color-primary-dark-trans,
    0,
    0,
    100%,
    0,
    100%,
    90vh,
    0%,
    100%,
    center
  );
  height: 100vh;

  &__logo {
    padding: 30px 0 0 30px;
  }

  &__main {
    position: relative;
    top: 12%;
  }

  &__title {
    @include header-titles();
    font-size: 3.3rem;
    font-weight: normal;
    margin: 0;
  }

  &__subtitle {
    @include header-titles();
    font-size: 1rem;
    margin: 20px 0 55px;
  }
}

.logo {
  width: 85px;
  display: block;

  &__img {
    width: 100%;
  }
}
