@import "./variables";

.main {
  &__title {
    color: $color-primary;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 3px;
    line-height: 35px;
    margin-bottom: 45px;
    transition-duration: 0.2s;

    &:hover {
      transform: rotate(2deg) skew(15deg) scale(1.1);
      text-shadow: 1px 10px 10px $color-grey-dark-2;
    }
  }

  &__subtitle {
    color: $color-grey-dark;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  &__link {
    display: inline-block;
    color: $color-primary-dark;
    font-size: 0.8rem;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 7px;
    margin: 0 auto 30px;
    transition-duration: 0.2s;

    &:hover {
      box-shadow: $box-shadow-2;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      transform: translate(0, -4px);
    }
  }
}
