.main {
  &__title {
    color: $color-primary;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin: 0;
    transition-duration: 0.2s;

    &:hover {
      transform: rotate(2deg) skew(15deg) scale(1.1);
      text-shadow: 1px 10px 10px $color-grey-dark-2;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0;
  }

  &__paragraph {
    font-size: 0.8rem;
    margin-bottom: 25px;
  }

  &__link {
    display: inline-block;
    color: $color-primary-dark;
    font-size: 0.8rem;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 7px;
    margin: 0 auto 30px;
    transition-duration: 0.2s;

    &:hover {
      box-shadow: $box-shadow-2;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      transform: translate(0, -4px);
    }
  }
}

/*
 * Media queries
 */

/* >= 901px */

@media screen and (min-width: 901px) {
  .main {
    &__title {
      font-size: 2.1rem;
    }

    &__subtitle,
    .main__paragraph,
    .main__link {
      font-size: 1rem;
    }
  }
}

/* >= 1800px */

@media screen and (min-width: 1800px) {
  .main {
    &__title {
      font-size: 2.5rem;
    }

    &__subtitle,
    .main__paragraph,
    .main__link {
      font-size: 1.2rem;
    }
  }
}
