.nav-button {
  background-color: $color-white;
  border: none;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  box-shadow: $box-shadow-1;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 2;

  &__img {
    width: 30px;
    margin: auto;

    &:hover {
      width: 35px;
      cursor: pointer;
    }
  }
}
