.nav-button {
  border-radius: 50%;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 57px;
  height: 57px;
  background-color: $color-white;
  border: none;
  box-shadow: $default-box-shadow;
  z-index: 2;

  &__img {
    margin: auto;
    width: 30px;

    &:hover {
      width: 35px;
      cursor: pointer;
    }
  }
}
