.stories-section {
  position: relative;
  padding: 80px 0 50px;

  &__video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
  }

  &__video {
    object-fit: cover;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__stories-container {
    padding-top: 50px;
  }

  &__article {
    background-color: $color-grey-light-1-trans-1;
    border-radius: 3px;
    max-width: 355px;
    padding: 32px 24px 5px 56px;
    margin: 0 auto 45px auto;
  }

  &__figure {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    overflow: hidden;
    shape-outside: circle();
    position: relative;
    float: left;
    margin: 0;
    transform: translate(-20px);

    &:hover .stories-section__figcaption {
      opacity: 1;
      top: 32%;
    }

    &:hover .stories-section__image {
      filter: blur(3px) brightness(80%);
      transform: translate(-35px) scale(1);
    }
  }

  &__figcaption {
    font-size: 0.85rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    opacity: 0;
    width: 50px;
    position: absolute;
    top: 60%;
    left: 30%;
    transition: all 0.5s;
  }

  &__image {
    height: 100%;
    transform: translate(-35px) scale(1.4);
    transition: all 0.5s;
  }
}

.main__title--no-margin-top {
  margin-top: 0;
}

.main__link--center {
  text-align: center;
  margin-top: 75px;
}

/* Media queries */

@media screen and (min-width: 601px) {
  .stories-section {
    &__stories-container {
      padding-top: 75px;
    }

    &__article {
      max-width: 75%;
      padding: 50px;
      transform: skew(-10deg);
    }

    &__figure {
      transform: skew(10deg) translate(-20px);
    }

    .main__subtitle,
    .main__paragraph {
      transform: skew(10deg);
    }
  }
}
