.tours-section {
  background-color: $color-grey-light-1;
  margin-top: -55px;
  padding: 90px 20px 0;

  &__article {
    background-color: $color-white;
    box-shadow: $box-shadow-3;
    max-width: 335px;
    margin: 0 auto 50px;
  }

  &__img {
    height: 200px;
    background-blend-mode: screen;

    &--orange {
      @include background-image(
        "../img/nat-5.jpg",
        $color-secondary-light,
        $color-secondary-dark,
        0,
        0,
        100%,
        0,
        100%,
        85%,
        0,
        100%
      );
    }

    &--green {
      @include background-image(
        "../img/nat-6.jpg",
        $color-primary-light,
        $color-primary-dark,
        0,
        0,
        100%,
        0,
        100%,
        85%,
        0,
        100%
      );
    }

    &--blue {
      @include background-image(
        "../img/nat-7.jpg",
        $color-tertiary-light,
        $color-tertiary-dark,
        0,
        0,
        100%,
        0,
        100%,
        85%,
        0,
        100%
      );
    }
  }
}

.main__paragraph--list-item {
  color: $color-grey-dark;
  font-size: 0.7rem;
  text-align: center;
  list-style-type: none;
  border-bottom: 2px solid $color-grey-light-2;
  margin: 0;
  padding: 10px;
}
