.tours-section {
  background-color: $color-grey-light-1;
  padding: 180px 0 75px;
  margin-top: -130px;

  &__cards {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  &__article {
    background-color: $color-white;
    box-shadow: $box-shadow-3;
    border-radius: 3px;
    width: 355px;
    position: relative;
    margin: 0 auto 50px;

    &--margin-bottom {
      margin-bottom: 80px;
    }
  }

  &__img {
    background-blend-mode: screen;
    border-radius: 3px 3px 0 0;
    height: 175px;

    &--orange {
      @include background-image(
        "../img/nat-5.jpg",
        $color-secondary-light,
        $color-secondary-dark,
        0,
        0,
        100%,
        0,
        100%,
        85%,
        0,
        100%
      );
    }

    &--green {
      @include background-image(
        "../img/nat-6.jpg",
        $color-primary-light,
        $color-primary-dark,
        0,
        0,
        100%,
        0,
        100%,
        85%,
        0,
        100%
      );
    }

    &--blue {
      @include background-image(
        "../img/nat-7.jpg",
        $color-tertiary-light,
        $color-tertiary-dark,
        0,
        0,
        100%,
        0,
        100%,
        85%,
        0,
        100%
      );
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    max-width: 240px;
    position: absolute;
    top: 65px;
    right: 16px;
  }

  &__span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 8px 12px;

    &--orange {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light-trans,
        $color-secondary-dark-trans
      );
    }

    &--green {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light-trans,
        $color-primary-dark-trans
      );
    }

    &--blue {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light-trans,
        $color-tertiary-dark-trans
      );
    }
  }

  &__list {
    max-width: 65%;
    padding: 0;
    margin: auto;

    & .main__paragraph--list-item:last-child {
      border: none;
    }
  }

  &__card-back {
    border-radius: 0 0 3px 3px;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);

    &--orange {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
    }

    &--green {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }

    &--blue {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      );
    }
  }

  &__paragraph {
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    padding-top: 55px;
  }

  &__price {
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    margin: 0 0 60px;
  }
}

.main__paragraph--list-item {
  font-size: 0.7rem;
  text-align: center;
  list-style-type: none;
  border-bottom: 1px solid $color-grey-light-2;
  padding: 12px;
  margin: 0;
}

.button-link {
  &--tours-card {
    max-width: 140px;
    top: -30px;
  }
}

/* Media queries */

@media screen and (min-width: 901px) {
  .tours-section {
    &__cards {
      flex-direction: row;
      justify-content: space-evenly;
      padding: 75px 0;
    }

    &__article {
      margin-bottom: 0;

      &--margin-rl {
        margin: 0 50px;
      }
    }

    &__title {
      font-size: 2rem;
      top: 30px;
    }
  }

  .main__paragraph--list-item {
    font-size: 1rem;
  }
}
