/*********** change this at the end ************/
nav,
#popup {
  display: none;
}

/**********************************************/

* {
  box-sizing: border-box;
}

*::selection {
  color: $color-white;
  background-color: $color-primary;
}

.body {
  font-family: $default-font-family, sans-serif;
  color: $color-grey-dark;
  line-height: 1.7;
  position: relative;
}

.button-link {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color-grey-dark;
  background-color: $color-white;
  border: none;
  border-radius: 50px;
  width: 200px;
  margin: auto;
  padding: 13px;
  display: block;
  position: relative;
  transition-duration: 0.2s;

  &::after {
    content: "";
    background-color: $color-white;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover {
    box-shadow: $box-shadow-2;
    transform: translate(0, -4px);

    &::after {
      opacity: 0;
      transform: scale(1.4, 1.6);
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }
}

/* Media queries */

@media screen and (min-width: 901px) {
  .body {
    margin: 30px;
  }
}
