// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// COLORS with transparency
$color-primary-light-trans-1: #7ed56fcc;
$color-primary-dark-trans-1: #28b485cc;
// for buttons
$color-grey-dark-2-trans-1: #99999933;
// for links and images
$color-grey-dark-2-trans-2: #99999940;

// FONT
$default-font-size: 1.6rem;
$default-font-family: "Lato";

// BOX-SHADOW
// for buttons
$default-box-shadow: 0px 0px 5px 2px $color-grey-dark-2-trans-1;
// for links and images
$box-shadow-2: 0px 10px 5px 0 $color-grey-dark-2-trans-2;

// MIXINS
@mixin background-image($url, $tlx, $tly, $trx, $try, $brx, $bry, $blx, $bly) {
  background-image: linear-gradient(
      to right bottom,
      $color-primary-light-trans-1,
      $color-primary-dark-trans-1
    ),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  clip-path: polygon($tlx $tly, $trx $try, $brx $bry, $blx $bly);
}
