// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// COLORS with transparency
$color-primary-light-trans-1: #7ed56fcc;
$color-primary-dark-trans-1: #28b485cc;

// card backgroung
$color-grey-light-1-trans-1: #f7f7f7cc;

// for nav button
$color-black-trans-1: #0000001a;

// for images and link buttons
$color-black-trans-2: #00000033;

// for cards
$color-black-trans-3: #00000026;

// FONT
$default-font-size: 1.6rem;
$default-font-family: "Lato";

// BOX-SHADOW
// for nav button button
$box-shadow-1: 0 10px 30px $color-black-trans-1;

// for images and link buttons
$box-shadow-2: 0 15px 30px $color-black-trans-2;

// for cards
$box-shadow-3: 0 1px 30px $color-black-trans-3;

// MIXINS
@mixin background-image(
  $url,
  $color1,
  $color2,
  $tlx,
  $tly,
  $trx,
  $try,
  $brx,
  $bry,
  $blx,
  $bly
) {
  background-image: linear-gradient(to right bottom, $color1, $color2),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon($tlx $tly, $trx $try, $brx $bry, $blx $bly);
}
