@import './variables';
@import './header';
@import './normalize';

nav, #popup {
    display:none;
}

* {
  box-sizing: border-box;
  
}

body {
    font-family: $default-font-family, sans-serif;
}

.header__button-link {
    margin: auto;
}

.button-link {
    background-color: $color-white;
    color: $color-grey-dark;
    text-decoration: none;
    border-radius: 50px;
    display: block;
    width: 200px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}