@import "./normalize";
@import "./variables";
@import "./nav-button";
@import "./header";
@import "./main-section";
@import "./about-section";
@import "./advantages-section";

/*change this at the end*/
nav,
#popup {
  display: none;
}
/**/

* {
  box-sizing: border-box;
}

.body {
  font-family: $default-font-family, sans-serif;
  background-color: $color-grey-light-1;
}

.button-link {
  background-color: $color-white;
  color: $color-grey-dark;
  text-decoration: none;
  border-radius: 50px;
  display: block;
  width: 200px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition-duration: 0.2s;

  &:hover {
    box-shadow: $default-box-shadow;
    transform: translate(0, -4px);
  }
}
